In [2]:
income=50000

# # Declare a variable
# call up value
# Rs. 50000 - 25 years
# Variable is specifice and case sensitive

print(income)

Age= 25.5
print(Age)

50000
25.5

In [3]:
print(type(income))
print(type(Age))

<class 'int'>
<class 'float'>

In [5]:
Income1=50000
Income2=75000
Avg = ((Income1+Income2)/2)
print(Avg)
print(type(Avg))

62500.0
<class 'float'>

In [7]:
# Variable make code Reproducible

In [6]:
print(Avg)

62500.0

In [7]:
print (float(Income1)/Income2)
print(type(float(Income1)/Income2))

0.6666666666666666
<class 'float'>

Strings and Booleans

In [8]:
Course = "Data Science with Python"
print(type(Course))

<class 'str'>

In [9]:
Learning = True
print(type(Learning))

<class 'bool'>

In [10]:
3+8

11

In [11]:
'Data' + 'Science'

'DataScience'

In [12]:
#the + opeartor concatenates strings together ,while the * concatenates multiple copies of a string together
sample2 = 1 * 3
sample3 = "1" * 3

print(sample2)
print(sample3)

3
111

In [22]:
# Different Types behave differents. Plus works differently on a integer vs. a string

In [13]:
print("Sumit started with income of Rs." + Income1 + ". Gradually it was increased to Rs. " + Income2)

TypeError: can only concatenate str (not "int") to str

In [14]:
print("Sumit started with income of Rs." + str(Income1) + ". Gradually it was increased to Rs. " + str(Income2))

Sumit started with income of Rs.50000. Gradually it was increased to Rs. 75000

In [15]:
Income = "10000"
type(Income)

str

In [16]:
NIncome = int(Income)
NIncome

10000

Lists

In [17]:
#Income of a certai group

Income1 = 50000
Income2 = 75000
Income3 = 65000
Income4 = 45000
Income5 = 25000

Income = [Income1, Income2, Income3, Income4, Income5]
print(Income)

[50000, 75000, 65000, 45000, 25000]

In [18]:
Income = ["Sumit",50000,"Amit",75000,"Tina",65000,"Heena",45000,"Reena",25000]
Income

['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [19]:
#Lists can also contain Lists themselves
#Instead of putting strings between the number one can create sublists for each Income entry

Income2 = [['sumit',50000],
          ['Amit',75000],
          ['Tina,65000'],
          ['Heena,45000'],
          ['Reena',25000]]
Income2 # The main List contain 5 sub lists

[['sumit', 50000],
 ['Amit', 75000],
 ['Tina,65000'],
 ['Heena,45000'],
 ['Reena', 25000]]

In [20]:
type(Income)
type(Income2)

list

In [21]:
# Accessing Information from a List- Use Index

Income[5] # to access Income corresponding to Tina

#Zero Based Indexing

65000

In [22]:
#slicing using
#[start:end]

print(Income[2:6])
print(Income[:])
print(Income[2:])
print(Income[:2])

#Income of males

['Amit', 75000, 'Tina', 65000]
['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]
['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]
['Sumit', 50000]

In [23]:
#Income of females
Income[-1] + Income[-3] + Income[-5]

135000

In [24]:
Income2[2][:] # Accessing all elements from list of List

['Tina,65000']

In [26]:
#List Manipulations

Income[1] = 55000 #Change
Income

['Sumit', 55000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [27]:
Income[0:2] = ['Likhit',60000]  #Replacing elements
Income

['Likhit', 60000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [28]:
Income_add = Income + ['Sumit',50000] # Adding elements
Income_add

['Likhit',
 60000,
 'Amit',
 75000,
 'Tina',
 65000,
 'Heena',
 45000,
 'Reena',
 25000,
 'Sumit',
 50000]

In [29]:
del(Income_add[0:2])  # Deleting an element
Income_add

['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000, 'Sumit', 50000]

In [30]:
#Create List Age
age = [11,18,20,10,9]

age_new = age
age_new

[11, 18, 20, 10, 9]

In [31]:
age_new[1] = 24
age_new

[11, 24, 20, 10, 9]

In [32]:
age # Why is this happening?

[11, 24, 20, 10, 9]

In [33]:
age_new

[11, 24, 20, 10, 9]

In [34]:
age_final = age_new.copy()
age_final

[11, 24, 20, 10, 9]

In [35]:
age_final[1] = 32
age_final

[11, 32, 20, 10, 9]

In [36]:
age_new

[11, 24, 20, 10, 9]

In [37]:
age_final = age_new[:]
print(age_final)
age_final[1] = 32
print(age_final)
print(age_new)

[11, 24, 20, 10, 9]
[11, 32, 20, 10, 9]
[11, 24, 20, 10, 9]

In [38]:
#Functions in python

Python = True

# Print out type of var
print(type(Age))

# Print out Length of var
print(len(Income))

#Convert var to an integer: out2
IntPy = int(Python)
Intpy

<class 'float'>
10

NameError: name 'Intpy' is not defined

In [39]:
# Create lists
Age1 = [25,65,34,44]
Age2 = [10,50]

# Paste together
Age_f = Age1 + Age2

# Sort in descending order
Age_full = sorted(Age_f)
Age_FULL = sorted(Age_f, reverse = True)

# Print out full_sorted
print(Age_full)
print(Age_FULL)

[10, 25, 34, 44, 50, 65]
[65, 50, 44, 34, 25, 10]

In [40]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

    Methods

In [41]:
Income.index('Heena')   #Index is a method

6

In [42]:
Word = "python"
print(Word.upper())
Word.replace("n","n course")

PYTHON

'python course'

In [43]:
Income.replace(50000,45000)

AttributeError: 'list' object has no attribute 'replace'

In [44]:
Income.index(45000)

7

In [45]:
Word.index('t')

2

In [46]:
Income.append("Raina")
Income

['Likhit',
 60000,
 'Amit',
 75000,
 'Tina',
 65000,
 'Heena',
 45000,
 'Reena',
 25000,
 'Raina']

In [47]:
Sample = "Beautiful"
print(Sample.count("u"))

2

In [61]:
# Print out how often 25000 appears in Income

In [48]:
print(Income.count(25000))

1

In [49]:
c=range(11)
print (list(c))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Iterable and Iterate objects

In [67]:
# Looping and conditionals interlude
#using for loops and if-else statements

In [50]:
# We can control the flow of execution of code by using conditionals such as if-else
if 2>3: #Notice that a statement is folllowed by a :
    print('Is it possible?')
else:
    print('Yay!!')

Yay!!

Case study
. Use the assign_txt
.Count number of capital letters
. How many times has the word RSS occured?
. How many times has the word Modi occured?

In [51]:
assign_txt="Narendra Damodardas Modi, born 17 september 1950) is the 15th and current Prime Minister of India, in office"

In [52]:
print (assign_txt.count('RSS'))

0

In [53]:
type(assign_txt)

str

In [54]:
c=0
for l in assign_txt:
    if l.isupper():
        c = c+1
print (c)

6

List Comprehension

In [55]:
c=[2,3,4,5]

In [56]:
#Suppose we want to create a list containing the squared in the list c
#Method 1
s=[]
for num in c:
    s.append(num**2)
print(s)

[4, 9, 16, 25]

In [57]:
#Method 2
[x**2 for x in c] #Very concise way

[4, 9, 16, 25]

In [58]:
Python_Structure = ['List', 'Strings','Dict','Boolean']
range(50)
Data_Science = 'Data is the new oil'
price = 'Rs.20,000'
income = 50000

In [59]:
[]

[]

In [60]:
# Suppose we want to create a list rom a and b such that it looks like the following
[[1,'a'],[2,'b'],[3,'c'],[4,'d']]

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [61]:
a=[1,2,3,4]
b=['a','b','c','d']

In [62]:
[[x,y] for x in a for y in b if a.index(x)==b.index(y)]

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [63]:
pairs = []
for p in range(0,2):
    for q in range(3,5):
        pairs.append([p,q])
print(pairs)

[[0, 3], [0, 4], [1, 3], [1, 4]]

In [64]:
pairs2 = [[p,q] for p in range(0,2) for q in range(3,5)]
print(pairs2)

[[0, 3], [0, 4], [1, 3], [1, 4]]

In [65]:
# zip
a=[1,2,3,4]
b=['a','b','c','d']
zip(a,b)

In [66]:
print(list(zip(a,b)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [68]:
[list(x) for x in zip(a,b) ]

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [69]:
x = ['P', 6, 1,'q', 5, 'R']         #List Comprehension - conditions on output expression
strings = [y for y in x if type(y) == str]
print(strings)

['P', 'q', 'R']

In [70]:
[num**2 for num in range(10) if num%2 ==0]

[0, 4, 16, 36, 64]

In [71]:
[num**2 if num%2 ==0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [72]:
int_list = [-2,4,1,6,-3]
print(x for x in int_list if x > 0)
print(list(x for x in int_list if x > 0))

<generator object <genexpr> at 0x000001B21D6BD1B0>
[4, 1, 6]

# Lambdas,map,filter and reduce
# We can use lambdas , filter, map and reduce to replicate the functioality of list comprehension

In [73]:
mass=[45,55,65,76]
ht=[1.65,1.70,1.55,1.80]
bmi=map(lambda x,y:x/y**2,mass,ht)
bmi_f=filter(lambda x:x<20,bmi)
print (bmi)
print (bmi_f)
print(list(bmi))

<map object at 0x000001B21D6CB550>
<filter object at 0x000001B21D6CB4A8>
[16.528925619834713, 19.031141868512112, 27.055150884495315, 23.456790123456788]

In [74]:
# define W1 as a Lambda function
W1 = (lambda x, y: x * y)

# call W1: result
result = W1('Yay', 3)

# Print result
print(result)

YayYayYay

In [75]:
nums = [2,4,6,8,10]
result = map(lambda a: a ** 2, nums)

In [76]:
# Filter
Cities = ['Delhi','Pune', 'chennai','Kolkata']

# Use filter() to apply a Lambda function over fellowship: result
result = filter(lambda m: len(m) > 6, Cities)

type(result)
# convert result to a list: result_list
result_list = list(result)

# Convert result into a list and print it
print(result_list)

['chennai', 'Kolkata']

Error Handling

In [77]:
# Define w
def w3(x, y=1):
    """"Concatenate copies of word1 and two 
    exclamation marks at the end of the string."""
    
    # Initialize empty strings:
    w3 = ''
    s3 = ''
    
    # Add exception handling with try-except
    try:
        # Conatenate copies of word using *
        w3 = x * y
        
        # Concatenate '!!'
        s3 = w3 + '!!'
    except:
        # Print error message
        print("x argument must be a string and y argument must be an integer.")
        
    return s3

# call s
w3("Yay","Great")

x argument must be a string and y argument must be an integer.

''

In [78]:
# Define w4
def w4(x,y=3):
    """"Concatenate copies of word-x and three 
    exclamation marks at the end of the string."""
    
    # Raise an error with raise
    if w4 < 0:
        raise ValueError('w4 must be greater than 0')
        
    # Concatenate copies of word1 using *:
    z = x * y
    
    # Concatenate '!!!'
    w = z + '!!!'
    
    # Return
    return w

# Call w4
w4("yay",y=5)

TypeError: '<' not supported between instances of 'function' and 'int'

Tuples and Dictionaries

In [80]:
t=(1,2,3,5)
print(t)

(1, 2, 3, 5)

In [82]:
print(t[0])
print(t[1])

1
2

In [84]:
li6=[1,2,3,4]
li6[0]=0
print (li6)

[0, 2, 3, 4]

In [86]:
t[0]=0

TypeError: 'tuple' object does not support item assignment

In [88]:
print (dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

Dictionaries
Dictionaries as hashables
Extracting keys, values
Sorting a dictionary
Looping through a dictionary

In [90]:
Income = [30000,40000,25000]
name = ["Umesh","Ramesh","Nilesh"]
in_r = name.index('Ramesh')
in_r
Income[in_r]

40000

In [92]:
#Dictionary -key:value pairs

Inc = {"Umesh":30000,"Ramesh":40000,"Nilesh":25000}
print(Inc)

{'Umesh': 30000, 'Ramesh': 40000, 'Nilesh': 25000}

In [94]:
#dict_name[key]
print(Inc["Umesh"])

30000

In [96]:
#Print keys in Inc
print(Inc.keys())
print(Inc.values())

dict_keys(['Umesh', 'Ramesh', 'Nilesh'])
dict_values([30000, 40000, 25000])

In [98]:
"Nilesh" in Inc

True

In [100]:
Inc["Nilesh"] = 35000
print(Inc)

{'Umesh': 30000, 'Ramesh': 40000, 'Nilesh': 35000}

In [102]:
del(Inc["Nilesh"])

KeyError: 'Nilesh'

In [104]:
print(Inc)

{'Umesh': 30000, 'Ramesh': 40000}

In [106]:
print (dir(Inc))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [108]:
print (Inc.items())

dict_items([('Umesh', 30000), ('Ramesh', 40000)])

In [110]:
# Dictionary of dictionaries
Income1 = { 'Ramesh': {'Gender':'male','Income':40000},'Ana': {'Gender':'female','Income':66000},'Uma': { 'Gender':'female','Income':20000},'Umesh': { 'Gender':'male','Income':58000}}

# Print out the Income of Ramesh
print(Income1['Ramesh']['Income'])

#Create sub-dictionary data
income2 = {'Gender':'female','Income':30000 }

#Add data to europe under key 'italy'
Income1['Seema'] = income2

#  Print
print(Income1)

40000
{'Ramesh': {'Gender': 'male', 'Income': 40000}, 'Ana': {'Gender': 'female', 'Income': 66000}, 'Uma': {'Gender': 'female', 'Income': 20000}, 'Umesh': {'Gender': 'male', 'Income': 58000}, 'Seema': {'Gender': 'female', 'Income': 30000}}

In [112]:
for x in Inc:
    print (x)

Umesh
Ramesh

In [114]:
for x in Inc:
    print (x,Inc[x])

Umesh 30000
Ramesh 40000

In [117]:
# List comprehension on Dictionaries

pos_neg = {1:-1 for l in range(3)}
print(pos_neg)
type(pos_neg)

{1: -1}

dict

use the assign_txt
Find out the occurence of each word in text string(Create a list of each word in the string,loop over this list to create a dictionary of words and their occurences

In [119]:
d={}
for w in assign_txt.split(" "):
    if w in d:
        d[w]=d[w]+1
    else:
        d[w]=1

In [121]:
print (d)

{'Narendra': 1, 'Damodardas': 1, 'Modi,': 1, 'born': 1, '17': 1, 'september': 1, '1950)': 1, 'is': 1, 'the': 1, '15th': 1, 'and': 1, 'current': 1, 'Prime': 1, 'Minister': 1, 'of': 1, 'India,': 1, 'in': 1, 'office': 1}

Files

In [122]:
# Reading Files
# Manipulating data in file objects
# Writing out files

In [124]:
# modules interlude
import os
os.chdir('D:\LinkCXO\File')

In [126]:
f=open('science.txt','r')
fo=f.read()
print(type(f))
print(type(fo))
f.close()

<class '_io.TextIOWrapper'>
<class 'str'>

In [128]:
f=open('write.txt','w')
for dt in fo:
    f.write(dt+'\n')
f.close()

In [130]:
fo[0:10]

'12345678'

In [133]:
with open("science.txt","r") as infile:
     dat=infile.read()

In [135]:
dat[0:10]

'12345678'

Assignment
Use the file tweets_assignment.txt
Count the total number of tweets in the file
Extract the time stamp from the file and store it in a list